@model Music_Web.Models.OrderViewModel
@{
    ViewData["Title"] = "Order Details";
    ViewBag.OActive = "active";
}
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#first" aria-controls="first" role="tab" data-toggle="tab">Basic Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#second" aria-controls="second" role="tab" data-toggle="tab">Detailed Info</a>
        </li>
    </ul>
</div>

<div class="tab-content mt-3">

    <div role="tabpanel" class="tab-pane active" id="first">
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                @Html.DisplayNameFor(model => model.DateOfOrder)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfOrder)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Customer ID
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerID)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Customer Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CFirstName)
                @Html.Display(" ")
                @Html.DisplayFor(model => model.CLastName)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Customer Phone Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CPhone)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Employee ID
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeeID)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Employee Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EFirstName)
                @Html.Display(" ")
                @Html.DisplayFor(model => model.ELastName)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                Total Order's Value
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalOrder)
            </dd>
        </dl>
        <div class="mb-2">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary mr-2">Edit</a>
            <a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">Delete</a>
        </div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="second">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Instrument ID
                    </th>
                    <th>
                        Instrument Type
                    </th>
                    <th>
                        Instrument Model
                    </th>
                    <th>
                        Instrument Brand
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        Quantity Sold
                    </th>
                    <th>
                        Total Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td>
                            @item.InstrumentID
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.Model
                        </td>
                        <td>
                            @item.Brand
                        </td>
                        <td>
                            $@item.UnitPrice
                        </td>
                        <td>
                            @item.QuantitySold
                        </td>
                        <td>
                            $@item.TotalPrice
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade show" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Are you sure?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to
                <label class="text-danger">permanently delete </label>
                this order? This process cannot be undone.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Yes, delete it</a>
            </div>
        </div>
    </div>
</div>